{% extends "base.html" %}

{% block content %}

<ul>
{% for target in targets %}
  <li><h2>{{target.name}}</h2></li>

  <ul>
  {% for detail in target.details %}
  {% if detail.status == "verified" %}
  <li><h3 style="color:#5cb85c;">{{ detail.test_case | e }}</h3></li>
  {% else %}
  <li><h3 style="color:#f0ad4e;">{{ detail.test_case | e }}</h3></li>
  {% endif %}
    <dl>
      <dt><b>Verify Code</b></dt>
      <dd>{{ detail.source_path | e }}</dd>
      <dt><b>Query</b></dt>
      <dd><pre>{{ detail.query | e }}</pre></dd>
      <dt><b>Checker</b></dt>
      <dd>{{ detail.checker | e }}</dd>
      <dt><b>Gen</b></dt>
      <dd>{{ detail.gen | e }}<dd>
      <dt><b>Seed</b></dt>
      <dd>{{ detail.seed | e }}<dd>
      <dt><b>TimeStamp</b></dt>
      <dd>{{ detail.timestamp | e }}</dd>
      <dt><b>Status</b></dt>
      <dd>{{ detail.status | e }}</dd>
      {% if detail.status == "failure" %}
      <dt><b>Fail Query</b></dt>
      <dd>{{ detail.fail_info | e }}</dd>
      <dt><b>Fail Info</b></dt>
      <dd>{{ detail.fail_info | e }}</dd>
      {% endif %}
    </dl>
  {% endfor %}
  </ul>

{% endfor %}
</ul>

{% endblock %}
